@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

* {
    box-sizing: border-box;
}

body {
    width: 30%;
    margin: 50px auto;
    font-family: Helvetica, sans-serif;
    color: rgb(26, 26, 26);
}

fieldset {
    background-color: rgb(248, 247, 247);
    border: 1px solid rgb(26, 26, 26);
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px rgb(213, 213, 213);
    display: flex;
    flex-flow: row wrap;
}

legend {
    display: block;
    background: rgb(248, 247, 247);
    padding: 5px 70px 5px 10px;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 2px;
    margin-left: -13px;
    box-shadow: 0px 0px 5px 0px rgb(213, 213, 213);
}

label {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    margin: 0;
}

input {
    border-radius: 2px;
    border: 1px solid rgb(248, 247, 247);
    box-shadow: 0px 0px 2px 0px rgb(213, 213, 213);
    margin: 5px 0;
    height: 30px;
}

input.submit {
    border: none;
    background: rgb(26, 26, 26);
    border-radius: 2px;
    color: white;
    padding: 5px 20px;
}

p {
    display: inline;
    position: relative;
    left: 5px;
    bottom: 30px;
    margin: 0;
}