@import url('https://fonts.google.com/specimen/Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    margin: 0 auto;
    width: 40%;
}

.content-wrapper {
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 2px;
}

.content-wrapper header {
    background: black;
    color: white;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.content-wrapper header h1 {
    color: rgb(10, 235, 240);
    margin-bottom: 5px;
}

.content-wrapper header span {
    letter-spacing: 0.2em;
}

main {
    width: 97%;
    margin: 30px auto 50px auto;
    display: flex;
    flex-flow: row nowrap;
    color: rgb(73, 84, 95);
    align-items: end;
}

.picture-info {
    border: 1px solid rgb(137, 137, 137);
    width: 40%;
    padding: 5px 20px;
    
}

.picture-info img {
    width: 100%;
}

.picture-info p {
    margin: 0;
    font-size: 0.8em;
}

main .info {
    width: 60%;
    padding: 10px 20px 0 20px;
}

.info p {
    margin: 0;
    line-height: 1.2em;

}

footer {
    display: flex; 
    flex-flow: column wrap;
}

footer .header-in-footer h3 {
    font-weight: 700;
    display: inline-block;
    background: black;
    margin: 0;
    padding: 5px 10px;
    color: rgb(217, 235, 235);
}

footer .info-footer {
    background: rgb(217, 235, 235);
    padding: 15px;
}

footer .info-footer p {
    margin: 2px 0;
}

footer .info-footer span {
    font-weight: 700;
}