@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 217, 176);
}

.wrapper-booking {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

.wrapper-booking .img-wrapper {
    width: 60%;
    display: flex;
}

.img-wrapper img {
    width: 100%;
}

.wrapper-booking .form-wrapper {
    color: white;
    background: rgb(17, 17, 17);
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 65px;
}

.form-wrapper h2 {
    margin-bottom: 50px;
}

.form-wrapper form {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
}

.input-info {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(190, 190, 174);
    margin-bottom: 40px;
    padding-bottom: 5px;
}

button {
    border: none;
    background: rgb(237, 183, 125);
    color: white;
    flex: 0 0 20%;
    max-width: 125px;
    border-radius: 5px;
} 

::placeholder {
    color:  rgb(190, 190, 174);
}